@model IEnumerable<CafeRestaurant.Models.Menu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Menu</h1>
    <p>
    <a asp-action="Create" class="btn btn-primary">Add New Menu</a>
</p>
<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th>
               Image
            </th>
            <th>
               Title
            </th>
            <th>
               Price
            </th>
            <th>
                Is Private
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @if (item.Image == null)
                {
                   <img src="~/Site/images/image-not-found-.jpg" width="100" height="80"/>        
                }else{
                   <img src="@item.Image" width="100" height="80"/>  
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           
            <td>
                @if (item.Private)
                    {
                            <button class="btn btn-success btn-sm "><i class="bi bi-check-circle"></i> Yes</button>
                        }
                        else
                        {
                            <button class="btn btn-danger btn-sm "><i class="bi bi-x-circle"></i> No</button>
                        }
                    </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i> Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready( function () {
        $('#myTable').DataTable();
} );
    </script>
}
